<?xml version="1.0" encoding="UTF-8" ?>
<!-- depth sensor and laser scan launch file -->

<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="arduino_serial_node">
    <param name="port" value="/dev/Arduino" /> <!-- Replace with the correct serial port -->
    <param name="baud" value="57600" /> <!-- Adjust the baud rate if necessary -->
  </node>
  <!-- <node name="sensor_node" pkg="sensors" type="ping_array_subscriber.py"/> -->
</launch>
