<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- <node name="imu_topic" pkg="imu_topic" type="imu_publisher.py"/> -->
        <arg name="type" default="normal" doc="type [normal, modbus]"/>
    <!-- imu python -->
    <node pkg="imu_topic" type="wit_$(arg type)_ros.py" name="imu" output="screen">
        <param name="port"               type = "str"    value="/dev/ttyUSB1"/>
        <param name="baud"               type = "int"    value="9600"/>
    </node>
</launch>
